






table{ font-family: Helvitica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: focus;
    border-color:chocolate;
    
}
    
th{
font-weight: 800
}
